/*iphone 5*/
@media (min-width: 320px) and (max-width: 320px) {
    .figure-item {
      top: -145px;
      left: 7.5%;
      width: 80%;
    }
  
    .about-content {
      position: absolute;
      top: 1225px;
      right: 10%;
      left: 10%;
    }
  
    .article-content {
      width: 100%;
      top: 100px;
    }
      /* Next & previous buttons */
      .prev, .next {
        top: -30px;
      }
      
      /* Position the "next button" to the right */
      .next {
        top: -30px;
      }
  
      #date, #time {
        position: relative;
        left: 14%;
        padding: 5px;  
        border-radius: 5px;
      }
  
      #name, #number, #text{
        margin: 0 auto;
        width: 72%;
      }
  
      .name, .number, .text  {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 5px 0;  
      }

      .gallery {
        height: 250px;
      }

      .thumbnail {
        height: 55px;
      }
  
      textarea{
        height: 50px;
      }
  
      #date {
        width: 45%;
      }
  
      #time { 
          width: 26%;
      }
         
      .btn[type=button], .btn[type=submit] {
        padding: 8px;
        width: 30%;
        margin-top: 20px;
        font-size: 18px;
    }
}