* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: "Montserrat", sans-serif;
} 

li, a, button  {
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5% 30px 5%; 
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 25px; 
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    padding: 0 40px;
    list-style: none;
    text-align: center;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.toggle {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: all 2s ease-in-out;
  cursor: pointer;
  display: none;
}

.toggle span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.toggle span:nth-child(1) {
    top: 0px;
  }
  
  .toggle span:nth-child(2),.toggle span:nth-child(3) {
    top: 18px;
  }
  
  .toggle span:nth-child(4) {
    top: 36px;
  }
  
  .toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .toggle.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .toggle.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  .toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

button {
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    transition: all 0.3s ease 0s;   
}

button:hover {
    background-color: rgba(0, 108, 134, 0.5);
    color: black;
}

.slideshow {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.skew-element {
    height: 250px; 
    position: relative; 
    bottom: 155px;
    background: #24252A;
    transform: skew(0, -5deg);
    z-index: 1;
} 

.sub-title{
  position: relative;
  top: 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 4.5rem;
  z-index: 2;
  text-align: center;
}

.about-content {
  position: absolute;
  top: 1200px;
  right: 10%;
  left: 10%;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.article-content {
  position: absolute;
  left: 55%;
  top: 80px;
  width: 40%;
  height: 400px;
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
  /*overflow: scroll;*/
}

.figure-item-bg {
  position: relative;
  bottom: 225px;
  opacity: 0.15;
  width: 100%;
  height: 900px;
}

.figure-item {
  position: absolute;
  top: 25px;
  left: 7.5%;
  border-radius: 10px;
  height: 500px;
  width: 35%;
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 1450px;
  right: 90%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #24252A;
}

/* Position the "next button" to the right */
.next {
  right: 5%;
  top: 1450px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*Tablets*/
@media (max-width:1024px) {
    body {
        overflow-X: hidden;
    }

    .logo {
      font-size: 50px; 
    }
  
    /*position: absolute doesn't seem to work*/
    .nav-links  {
        position: absolute;
        top: 0;
        right: 0;
        height: 75vh;
        top: 15vh;
        width: 45%;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s ease-in;
        z-index: 3;
        display: none;
    }

    button a{      
      font-size: 2rem;
      letter-spacing: 2px;
      padding: 10px 15px;
    }
  
    .wrapper {
      display:flex;
      justify-content:center;
      align-items:center;
      margin-top: 40px;
    }
  
    .nav-links li {
      font-size: 2rem;
      padding: 80px 80px;
    }

    .toggle {
        display: block;
    }

    .toggle span {
        height: 7px;
        width: 80%;
    }

    button {
        margin: 0 0 7.5% 0;
        padding: 22px 28px;
        font-size: 1.5rem;
    }

    .nav-active {
        transform: translateX(0%); 
    }

    /* Top and Bottom borders come in */
    /* stroke */
    nav.stroke ul li a,
    nav.fill ul li a {
      position: relative;
    }

    nav.stroke ul li a,
    nav.fill ul li a {
      position: relative;
    }
    nav.stroke ul li a:after,
    nav.fill ul li a:after {
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #ffffff;
      height: 3px;
    }

    nav.stroke ul li a:hover:after {
      width: 100%;
    }

    .slideshow {
      height: 700px;
    }

    .skew-element {
        height: 240px; 
        bottom: 120px;
        transform: skew(0, -5deg);
    }

    .sub-title{
      position: relative;
      top: 30px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: 3.5rem;
      z-index: 2;
      text-align: center;
    }
}

/*ipad*/
@media (min-width:768px) and (max-width:768px) { 

  /*position: absolute doesn't seem to work*/
  .nav-links  {
    height: 75vh;
    top: 15vh;
}

button a{      
  font-size: 1.5rem;
}

.nav-links li {
  font-size: 1.5rem;
  padding: 60px 60px;
}

button {
    font-size: 1.5rem;
  }
}

/*mobile*/
@media (max-width:766px) {

  .logo {
    font-size: 20px; 
  }

  .nav-links {
    top: 24vh;
    width: 60%;
    height: 450px;
    z-index: 3;
    border-radius: ;
  }

  button a{      
    font-size: 16px;
    letter-spacing: 2px;
    padding: o;
  }

  button {
    padding: 8px 12px 14px 14px;
  }

  .wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
  }

  .nav-links li {
    font-size: 16px;
    padding: 30px 30px;
  }

  .active {
      background-color: #717171;
    }
    
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    /* Top and Bottom borders come in */
    /* stroke */
    nav.stroke ul li a,
    nav.fill ul li a {
      position: relative;
    }

    nav.stroke ul li a,
    nav.fill ul li a {
      position: relative;
    }
    nav.stroke ul li a:after,
    nav.fill ul li a:after {
      position: absolute;
      top: 25px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #ffffff;
      height: 3px;
    }

    nav.stroke ul li a:hover:after {
      width: 100%;
    }

      
    .slideshow {
      position: relative;
      display: none;
      width: 100%;
      height: 300px;
      object-fit: cover;
      z-index: -2;
  }

    .skew-element {
        width: 100%; 
        height: 100px; 
        position: relative; 
        bottom: 55px;
        z-index: -1;
        background: #24252A;
        transform: skew(0, -5deg);
    } 

    .sub-title{
      position: relative;
      top: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
    }

    .article-content {
      position: absolute;
      top: -575px;
      right: 0;
      width: 52%;
      height: 200px;
      text-align: justify;
      background-color: white;
      padding: 7.5px 15px 15px 15px;
      font-size: 7.5px;
      border-radius: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: none;
      /*overflow: scroll;*/
    }
    
    .figure-item-bg {
      position: relative;
      bottom: 80px;
      opacity: 0.15;
      width: 100%;
      height: 350px;
      z-index: -2;
    }
    
    .figure-item {
      position: absolute;
      top: -575px;
      left: -7.5%;
      border-radius: 10px;
      height: 200px;
      width: 55%;
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 870px;
      right: 70%;
      width: auto;
      margin-top: -22px;
      padding: 10px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      background-color: #24252A;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 25%;
      top: 870px;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
}
/*surface duo*/
@media (min-width: 540px) and (max-width: 540px)  {
  .nav-links {
    height: 82.5vh;
  }
}
@media (min-width: 376px) and (max-width: 420px)  {
  .nav-links {
    height: 67.5vh;
   }
  }

/*iphone X*/
@media (min-width: 375px) and (max-width: 375px)  {
  .nav-links {
    height: 55vh;
    border: 1px solid red;
    }
  }