html {
  scroll-behavior:smooth;
}

body {
  overflow-X: hidden;
  height: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

h1, h2, h3, h4, h5, h6, p, li, a, textarea {
  font-family: "Montserrat", sans-serif;
} 

li, a, button  {
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5% 10px 5%; 
    background-color: #24252A;
}

.logo {
    margin-right: auto;
    margin-top: -35px;
    font-size: 35px; 
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.nav-links li {
    padding: 0 40px;
    list-style: none;
    text-align: center;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    letter-spacing: 2.5px;
    font-size: 20px;
    cursor: pointer;
}

.toggle {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: all 2s ease-in-out;
  cursor: pointer;
  display: none;
}

.toggle span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.toggle span:nth-child(1) {
    top: 0px;
  }
  
.toggle span:nth-child(2), .toggle span:nth-child(3) {
  top: 18px;
}

.toggle span:nth-child(4) {
  top: 36px;
}

.toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}

.toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 12px 20px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  transition: all 0.3s ease 0s;   
  outline: none;
}

button a{      
  font-size: 20px;
  letter-spacing: 1.5px;
}

button:hover {
  background-color: rgba(0, 108, 134, 0.5);
  color: black;
}

/* Top and Bottom borders come in */
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }

  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 3px;
  }

  nav.stroke ul li a:hover:after {
    width: 100%;
  }

.slideshow {
  width: 100%;
  height: 900px;
  object-fit: cover;
}

.skew-element {
  width: 100%; 
  height: 120px; 
  position: relative; 
  bottom: 155px;
  z-index: 1;
  background: #24252A;
}

.skew-element-2 {
  position: relative;
  bottom: 160px;
  height: 120px; 
  background: #24252A;
  /*transform: skew(0, -5deg);*/
  z-index: 1;
} 

.skew-element-3 {
  position: relative;
  bottom: 180px;
  height: 120px; 
  background: #24252A;
  /*transform: skew(0, -5deg);*/
  z-index: 1;
} 

.about-section {
  position: relative;
  height: 800px;
}

.article-content {
  position: relative;
  left: 50%;
  top: -1390px;
  width: 40%;
  padding: 20px 20px 30px 20px;
  height: 420px;
  font-size: 22px;
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}


.figure-item-bg {
  position: relative;
  bottom: 160px;
  opacity: 0.15;
  width: 100%;
  height: 800px;
}

.figure-item {
  position: relative;
  top: -875px;
  left: 10%;
  border-radius: 5px;
  height: 600px;
  width: 30%;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 240px;
  right: 94%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #24252A;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  top: 240px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prices {
  position: relative;
  bottom: 160px;
  background-color: #f5f5f5;
}

.prices h2 {
  text-align: center;
  padding: 25px 0 25px 0;
  font-size: 35px;
}

.prices ul li {
  color: black;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;
  line-height: 1.6;
  margin-left: 30px;
  font-size: 22px;
}

.prices ul {
  column-count: 3;
  column-rule: dotted 1px #333;
  list-style-type: none;
  margin-top: 10px;
  padding: 0 0 40px 20px;
}

.gallery, .thumbnail  {
  width: 100%; 
  height: 780px;
}

.thumbnail {
  height: 180px;
}

.tour-section {
  position: relative;
  bottom: 180px;
}

.slides {
  display: none;
  margin-bottom: -5px;
}

.cursor {
  cursor: pointer;
} 

.prev-image,
.next-image {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 15px;
  margin-top: -35px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next-image {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-image:hover,
.next-image:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 16px 16px;
  color: white;
}

.caption-container p{
  font-size: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

.fade-thumbnail {
  opacity: 0.6;
}

.active, .fade-thumbnail:hover { 
  opacity: 1;
}

.skew-element-4 {
  position: relative;
  bottom: 185px;
  height: 120px; 
  background: #24252A;
  /*transform: skew(0, -5deg);*/
  z-index: 1;
} 

.skew-element-5 {
  position: relative;
  bottom: 210px;
  height: 120px; 
  background: #24252A;
  /*transform: skew(0, -5deg);*/
  z-index: 1;
} 

/*form validation section*/
.form {
  position: relative;
  bottom: 210px;
  background-color: #e9e9e9;
}

h1 {   
  padding-top: 50px;
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], [type=number], [type=date], [type=time] select {
    /*width: 50%;*/
    margin: 30px, 0px, 30px, 0;
    box-sizing: border-box;
  }

.flex-center {
    display: flex;
    justify-content: center;
}

.name, .number, .date, .time, .text {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.name, .number, .text, .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 5px 0;
  padding-bottom: 8px;
}

#name, #number, #date, #time, #text {
  border: 1.25px solid grey;
}
    
#name, #number, #text{
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 8px;
}

#date, #time {
  position: relative;
  left: 25%;
  padding: 15px;  
  font-size: 22px;
  border-radius: 8px;
}

#date {
  width: 30%;
}

#time { 
    width: 20%;
}
  
.btn[type=button], .btn[type=submit] {
    padding: 15px;
    width: 15%;
    margin-right: 10px;
    margin-left:  10px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 25px;
}

.btn[type=button]:hover, .btn[type=submit]:hover{
  background-color: #005469;
  color: white;
}

#valid {
  margin-top:-15px;
  padding: 0 40px 30px 40px;
  text-align: center;
  font-size: 20px;
}


#btn-scrolltop  {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  scroll-behavior:smooth;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.arrow {
  position: relative;
  right: 5px;
  top: 8px;
  border: solid white;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 10px;
}

.arrow, .up {
  transform: rotate(-135deg);
}


#btn-scrolltop:hover {
  background-color: rgb(102, 102, 102);
}

.contact-popup > form {
  position: fixed;
  border-radius: 5px;
  border: 1px solid white;
  padding: 20px 40px 0 40px;
  z-index: 99;
}

.contact-popup {
  display: none;
  justify-content: center;
  align-items: center;
}

/* Add styles to the form container */
.contact-container {
  position: relative;
  top: 180px;
  max-width: 525px;
  background-color: white;
}

.contact-container > h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

/* Full-width input fields */
.contact-container input[type=text], .contact-container input[type=email], .contact-text {
  width: 100%;
  height: 60px;
  padding: 15px;
  margin: 8px 0 25px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 22px;
  background: #f1f1f1;
}
/*
.contact-container label[for="name"], label[for="email"], label[for="textarea"] {
  font-size: 18px;
}
*/
.contact-container > .contact-text {
  height: 140px;
}

.contact-container > .btn-contact-submit {
  padding: 14px;
  width: 38%;
  margin-left: 140px;
  margin-top: -5px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 30px;
}

.btn-contact-submit:hover {
  background-color: #005469;
  color: white;
}

.close-contact {
  position: absolute;
  top: -25px;
  display: block;
  left: 0;
  float: left;
  color: #000;
  font-size: 70px;
  font-weight: bold;
}

.close-contact:hover,
.close-contact:focus {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
  }

  footer {
    position: relative;
    background-color: #2e2e2e;
    bottom: 210px;
    height: 210px;
  }
    
    footer p {
    position: relative;
    top: 170px;
    left: 25px;
    font-size: 22px;
    text-align: left;
    color: white;
  }
  
@media (max-width:1024px) {
  /*Tablets*/
  .logo {
    font-size: 45px;
    margin-top: -8px; 
  }

  /*position: absolute doesn't seem to work*/
  .nav-links  {
    position: absolute;
    right: 0;
    height: 75vh;
    top: 12vh;
    width: 55%;
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in;
    z-index: 3;
    display: none;
  }

  button a{      
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px 15px;
    font-size: 32px;
  }

  .wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
  }

  .nav-links li {
    font-size: 2rem;
    padding: 65px 80px;
  }

  .nav-links li a {
    font-size: 40px;
  }

  /* Top and Bottom borders come in */
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }

  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 3px;
  }

  nav.stroke ul li a:hover:after {
    width: 100%;
  }

  .toggle {
    display: block;
  }

  .toggle span {
    height: 7px;
    width: 80%;
  }

  button a{      
    font-size: 2.25rem;
    letter-spacing: 2px;
  }

  button {
    margin: 0 0 7.5% 0;
    padding: 26px 22px 26px 26px;
    font-size: 8px;
    margin-bottom: 45px;
  }

  .nav-active {
    transform: translateX(0%); 
  }

  .slideshow {
    height: 1100px;
  }

  .skew-element {
    width: 100%; 
    height: 120px; 
    position: relative; 
    bottom: 155px;
    z-index: 1;
    background: #24252A;
  }

  .skew-element-2 {
    position: relative;
    bottom: 160px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .skew-element-3 {
    position: relative;
    bottom: 160px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  }   
  
  .about-section {
    position: relative;
    height: 750px;
  }

  .article-content {
    position: relative;
    left: 57%;
    top: -1325px;
    width: 40%;
    padding: 20px 20px 30px 20px;
    height: 420px;
    font-size: 22px;
  }

  .figure-item-bg {
    position: relative;
    bottom: 160px;
    opacity: 0.15;
    width: 100%;
    height: 750px;
  }

  .figure-item {
    position: relative;
    top: -830px;
    left: 4%;
    border-radius: 5px;
    height: 550px;
    width: 50%;
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 515px;
    right: 75%;
    padding: 15px;
    font-size: 35px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 21%;
    top: 515px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .prices {
    position: relative;
    bottom: 160px;
    background-color: #f5f5f5;
  }

  .prices h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 46px;
  }

  .prices ul li {
    color: black;
    padding: 0 10px 0 10px;
    margin: 5px 0 10px 0;
    line-height: 1.6;
    margin-left: 10px;
    font-size: 30px;
  }

  .prices ul {
    column-count: 3;
    column-rule: dotted 1px #333;
    list-style-type: none;
    margin-top: 10px;
    padding: 0 0 30px 25px;
  }

  .gallery, .thumbnail  {
    width: 100%; 
    height: 650px;
  }

  .thumbnail {
    height: 130px;
  }

  .tour-section {
    position: relative;
    bottom: 175px;
  }

  .slides {
    display: none;
    margin-bottom: -5px;
  }

  .cursor {
    cursor: pointer;
  } 

  .prev-image,
  .next-image {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    margin-top: -35px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next-image {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev-image:hover,
  .next-image:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 12px 16px;
    color: white;
  }

  .caption-container p{
    font-size: 60px
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 20%; 
  }

  .fade-thumbnail {
    opacity: 0.6;
  }

  .active, .fade-thumbnail:hover { 
    opacity: 1;
  }

  .skew-element-4 {
    position: relative;
    bottom: 180px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .skew-element-5 {
    position: relative;
    bottom: 210px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

    /*form validation section*/
  .form {
    position: relative;
  }

  h1 {   
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=text], [type=number], [type=date], [type=time] select {
    /*width: 50%;*/
    margin: 30px, 0px, 30px, 0;
    box-sizing: border-box;
    }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .name, .number, .date, .time, .text {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .name, .number, .text, .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 5px 0;
    padding-bottom: 8px;
  }


  #name, #number, #date, #time, #text {
    border: 1.25px solid black;
  }
    
  #name, #number, #text{
    margin: 0 auto;
    width: 65%;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 8px;
  }

  #date, #time {
    position: relative;
    left: 17.25%;
    padding: 15px;  
    font-size: 30px;
    border-radius: 8px;
    background-color: white;
  }

  #date {
    width: 38%;
  }

  #time { 
    width: 27%;
  }
    
  .btn[type=button], .btn[type=submit] {
    padding: 15px;
    width: 30%;
    margin-right: 10px;
    margin-left:  10px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 35px;
  }

  #valid {
    margin-top:-25px;
    padding: 0 40px 30px 40px;
    text-align: center;
    font-size: 30px;
}

  #btn-scrolltop  {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    scroll-behavior:smooth;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  .arrow {
    position: relative;
    right: 6px;
    top: 3px;
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
  }

  .arrow, .up {
    transform: rotate(-135deg);
  }
  
  #btn-scrolltop:hover {
    background-color: rgb(102, 102, 102);
  }

  .contact-popup > form {
    position: fixed;
    border-radius: 8px;
    border: 1px solid white;
    padding: 20px 50px 0 50px;
    z-index: 99;
  }

  .contact-popup {
    display: none;
    justify-content: center;
    align-items: center;
  }

  /* Add styles to the form container */
  .contact-container {
    position: relative;
    top: 220px;
    height: 750px;
    max-width: 650px;
    background-color: white;
  }

  .contact-container > h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    text-decoration: underline;
    text-underline-offset: 0.175em;
  }

  /* Full-width input fields */
  .contact-container input[type=text], .contact-container input[type=email], .contact-text {
    width: 100%;
    height: 90px;
    padding: 15px;
    margin: 8px 0 38px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 32px;
    background: #f1f1f1;
  }
/*
  .contact-container label[for="name"], label[for="email"], label[for="textarea"] {
    font-size: 18px;
  }
*/
  .contact-container > .contact-text {
    height: 180px;
  }

  .contact-container > .btn-contact-submit {
    padding: 20px;
    width: 45%;
    margin-left: 145px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 40px;
  }

  .btn-contact-submit:hover {
    background-color: #005469;
    color: white;
  }

  .close-contact {
    position: absolute;
    top: -30px;
    display: block;
    left: 0;
    float: left;
    color: #000;
    font-size: 90px;
    font-weight: bold;
  }
  
  .close-contact:hover,
  .close-contact:focus {
    color: #616161;
    text-decoration: none;
    cursor: pointer;
  }

  footer {
    position: relative;
    background-color: #2e2e2e;
    bottom: 210px;
    height: 230px;
  }
    
    footer p {
    position: relative;
    top: 170px;
    left: 0;
    font-size: 30px;
    text-align: center;
    color: white;
  }
}

@media (min-width:768px) and (max-width:768px) {
  /*ipad*/
  header {
    height: 140px;
  }

  .toggle {
    margin-top: 30px;
  }

  .logo {
      font-size: 35px;
      margin-top: 0;
      padding: 0;
  }
  .nav-links {
    top: 12vh;
    width: 55%;
    height: 620px;
    z-index: 3;
    border-radius: 5px; 
  }

  button a{      
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  button {
    padding: 18px 16px 18px 18px;
    font-size: 8px;
  }

  .wrapper {
    margin-top: 15px;
  }

  .nav-links li {
      margin-top: -20px;
      font-size: 1.75rem;
      padding: 50px 50px;
  }

  .nav-links li a {
      font-size: 25px;
  }

  /* Top and Bottom borders come in */
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
      position: relative;
  }

  nav.stroke ul li a,
  nav.fill ul li a {
      position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #ffffff;
      height: 3px;
  }

  nav.stroke ul li a:hover:after {
      width: 100%;
  }

  .slideshow {
    height: 750px;
  }

  button {
  font-size: 1.5rem;
  }

  .skew-element {
  width: 100%; 
  height: 110px; 
  position: relative; 
  bottom: 155px;
  z-index: 1;
  background:  #24252A;;
  }

   .about-section {
    position: relative;
    height: 550px;
  }

  .article-content {
    position: relative;
    left: 12.5%;
    top: -670px;
    width: 75%;
    padding: 15px 15px 0 15px;
    height: 130px;
    font-size: 16px;
  }

  .figure-item-bg {
    position: relative;
    bottom: 160px;
    opacity: 0.15;
    width: 100%;
    height: 540px;
  }

  .figure-item {
    position: relative;
    top: -690px;
    left: 24%;
    border-radius: 5px;
    height: 350px;
    width: 50%;
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 82%;
    padding: 15px;
    font-size: 25px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 15%;
    top: 0px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }

  .prices {
  position: relative;
  bottom: 160px;
  background-color: #f5f5f5;
  }

  .prices h2 {
  text-align: center;
  padding: 20px 0 15px 0;
  }

  .prices ul li {
  color: black;
  padding: 0 10px 0 10px;
  margin: 0 0 10px 0;
  line-height: 1.6;
  margin-left: 0;
  font-size: 20px;
  }

  .prices ul {
  column-count: 3;
  column-rule: dotted 1px #333;
  list-style-type: none;
  margin-top: 10px;
  padding-bottom: 20px;
  }

  .skew-element-3 {
  bottom: 170px;
  height: 110px; 
  }

  .skew-element-4 {
  position: relative;
  bottom: 180px;
  height: 110px; 
  background: #24252A;
  z-index: 1;
  } 

  .skew-element-5 {
  position: relative;
  bottom: 210px;
  height: 110px; 
  background: #24252A;
  /*transform: skew(0, -5deg);*/
  z-index: 1;
  } 

  .gallery, .thumbnail  {
  width: 100%; 
  height: 500px;
  }

  .thumbnail {
  height: 95px;
  }

  .tour-section {
  position: relative;
  bottom: 175px;
  }

  .slides {
  display: none;
  margin-bottom: -5px;
  }

  .cursor {
  cursor: pointer;
  } 

  .prev-image,
  .next-image {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 12px;
  margin-top: -35px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }

  .next-image {
  right: 0;
  border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev-image:hover,
  .next-image:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
  text-align: center;
  background-color: #222;
  padding: 9px 16px;
  color: white;
  }

  .caption-container p{
    font-size: 40px;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  /* Six columns side by side */
  .column {
  float: left;
  width: 20%;
  }

  .fade-thumbnail {
  opacity: 0.6;
  }

  .active, .fade-thumbnail:hover { 
  opacity: 1;
  }

  /*form validation section*/
  .form {
  position: relative;
  }

  h1 {   
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  input[type=text], [type=number], [type=date], [type=time] select {
      /*width: 50%;*/
      margin: 30px, 0px, 30px, 0;
      box-sizing: border-box;
  }

  .flex-center {
      display: flex;
      justify-content: center;
  }

  .name, .number, .date, .time, .text {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
  }

  .name, .number, .text, .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 5px 0;
  padding-bottom: 5px;
  }


  #name, #number, #date, #time, #text {
  border: 1.25px solid black;
  }
      
  #name, #number, #text{
      margin: 0 auto;
      width: 65%;
      padding: 15px;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;  
      border-radius: 8px;
  }

  #date, #time {
      position: relative;
      left: 17.25%;
      padding: 8px;  
      font-size: 20px;
      border-radius: 8px;
      background-color: white;
  }

  #date {
      width: 38%;
  }

  #time { 
      width: 26.5%;
  }

  .btn[type=button], .btn[type=submit] {
      padding: 10px;
      width: 25%;
      margin-right: 10px;
      margin-left:  10px;
      margin-top: 30px;
      margin-bottom: 40px;
      font-size: 25px;
  }

    #valid {
      margin-top: -15px;
      padding: 0 30px 20px 30px;
      text-align: center;
      font-size: 22px;
  }

  #btn-scrolltop  {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    scroll-behavior:smooth;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  .arrow {
    position: relative;
    right: 3px;
    top: 2px;
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
  }

  .arrow, .up {
    transform: rotate(-135deg);
  }
  
  #btn-scrolltop:hover {
    background-color: rgb(102, 102, 102);
  }
  .contact-popup > form {
    position: fixed;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 20px 0 20px;
    z-index: 99;
  }

  .contact-popup {
    display: none;
    justify-content: center;
    align-items: center;
  }

  /* Add styles to the form container */
  .contact-container {
    position: relative;
    height: 525px;
    top: 200px;
    max-width: 400px;
    background-color: white;
  }

  .contact-container > h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 34px;
    text-decoration: underline;
    text-underline-offset: 0.175em;
  }

  /* Full-width input fields */
  .contact-container input[type=text], .contact-container input[type=email], .contact-text {
    width: 100%;
    height: 65px;
    padding: 15px;
    margin: 8px 0 30px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    background: #f1f1f1;
  }
/*
  .contact-container label[for="name"], label[for="email"], label[for="textarea"] {
    font-size: 18px;
  }
*/
  .contact-container > .contact-text {
    height: 120px;
  }

  .contact-container > .btn-contact-submit {
    padding: 10px;
    width: 45%;
    margin-left: 96px;
    margin-top: -6px;
    cursor: pointer;
    font-size: 28px;
  }

  .btn-contact-submit:hover {
    background-color: #005469;
    color: white;
  }

  .close-contact {
    position: absolute;
    top: -20px;
    display: block;
    left: 0;
    float: left;
    color: #000;
    font-size: 64px;
    font-weight: bold;
  }
  
  .close-contact:hover,
  .close-contact:focus {
    color: #616161;
    text-decoration: none;
    cursor: pointer;
  }

  footer {
    position: relative;
    background-color: #2e2e2e;
    bottom: 215px;
    height: 215px;
  }
    
    footer p {
    position: relative;
    top: 170px;
    left: 0;
    font-size: 22px;
    text-align: center;
    color: white;
  }
}
@media (max-width:766px) {
  /*mobile*/
  header {
    height: 120px;
  }

  .toggle {
    margin-top: 30px;
  }

  .logo {
      font-size: 18px;
      margin-top: -5px;
      padding: 0;
  }

  .nav-links {
    top: 14vh;
    width: 60%;
    height: 420px;
    z-index: 3;
    border-radius: 5px; 
  }

  button a{      
    font-size: 14px;
    letter-spacing: 2px;
  }

  button {
    padding: 14px 12px 14px 14px;
    font-size: 8px;
  }

  .wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
  }

  .nav-links li {
    padding: 20px 30px;
  }

  .nav-links li a {
    font-size: 16px;
  }

  .active {
    background-color: #717171;
    }
    
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* Top and Bottom borders come in */
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }

  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 2px;
  }

  nav.stroke ul li a:hover:after {
    width: 100%;
  }

  .slideshow {
    position: relative;
    display: none;
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -2;
  }

  .skew-element {
    width: 100%; 
    height: 65px; 
    position: relative; 
    bottom: 60px;
    z-index: 1;
    background: #24252A;
  } 

  .skew-element-2 {
    position: relative;
    bottom: 60px;
    height: 65px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .skew-element-3 {
    position: relative;
    bottom: 90px;
    height: 65px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .skew-element-4 {
    position: relative;
    bottom: 95px;
    height: 65px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .skew-element-5 {
    position: relative;
    bottom: 120px;
    height: 65px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
  } 

  .about-section {
    position: relative;
    height: 510px;
  }

  .article-content {
    position: relative;
    left: 5%;
    top: -500px;
    width: 90%;
    height: 150px;
    font-size: 12px;
  }

  .figure-item-bg {
    position: relative;
    bottom: 60px;
    opacity: 0.15;
    width: 100%;
    height: 490px;
  }

  .figure-item {
    position: relative;
    top: -525px;
    left: 19%;
    border-radius: 5px;
    height: 250px;
    width: 60%;
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 85%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #24252A;
  }

  /* Position the "next button" to the right */
  .next {
    right: 7.5%;
    top: 100px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .prices {
    position: relative;
    bottom: 60px;
    height: 460px;
    background-color: #f5f5f5;;
  }

  .prices h2 {
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 20px;
  }

  .prices ul li {
    color: black;
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
    line-height: 1.6;
    margin-left: 10px;
    font-size: 11px;
  }

  .prices ul {
    column-count: 2;
    column-rule: dotted 1px #333;
    list-style-type: none;
    margin-top: 10px;
    padding: 0 0 10px 10px;
  }

  .gallery, .thumbnail  {
    width: 100%; 
    height: 280px;
  }

  .thumbnail {
    height: 60px;
  }

  .tour-section {
    position: relative;
    bottom: 90px;
  }

  .slides {
    display: none;
    margin-bottom: -5px;
  }

  .cursor {
    cursor: pointer;
  } 

  .prev-image,
  .next-image {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next-image {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev-image:hover,
  .next-image:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    padding: 2px 16px;
    text-align: center;
    background-color: #222;
    color: white;
  }

  .caption-container p {
    font-size: 28px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 20%; 
    /*adding more images divide how many image by 100 and that'll be the width*/
  }

  .fade-thumbnail {
    opacity: 0.6;
  }

  .active, .fade-thumbnail:hover { 
    opacity: 1;
  }

  /*form validation section*/
  .form {
    position: relative;
    bottom: 120px;
  }

  h1 {   
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=text], [type=number], [type=date], [type=time] select {
    /*width: 50%;*/
    margin: 30px, 0px, 30px, 0;
    box-sizing: border-box;
    }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .name, .number, .date, .time, .text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .name, .number, .text, .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 3px 0;
    padding-bottom: 3px;
  }


  #name, #number, #date, #time, #text {
    border: 1.25px solid black;
  }
    
  #name, #number, #text{
    margin: 0 auto;
    font-size: 15px;
    width: 65%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 5px;
  }

  #date, #time {
    position: relative;
    left: 17.25%;
    padding: 5px; 
    font-size: 13px;
    border-radius: 5px;
    background-color: white; 
  }

  #date {
    width: 38%;
  }

  #time { 
    width: 26%;
  }
    
  .btn[type=button], .btn[type=submit] {
    padding: 5px;
    width: 26%;
    margin-right: 10px;
    margin-left:  10px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
  }

  #valid {
    margin-top: -15px;
    padding: 0 25px 20px 25px;
    text-align: center;
    font-size: 15px;
  }

  #btn-scrolltop  {
      display: none;
      position: fixed;
      bottom: -30px;
      right: 20px;
      z-index: 99;
      scroll-behavior:smooth;
      border: none;
      outline: none;
      background-color: black;
      color: white;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    .arrow {
      position: relative;
      right: 3px;
      top: 1px;
      border: solid white;
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 7px;
    }

    .arrow, .up {
      transform: rotate(-135deg);
    }
    
    #btn-scrolltop:hover {
      background-color: rgb(102, 102, 102);
  }

  .contact-popup > form {
    position: fixed;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 20px 0 20px;
    z-index: 99;
  }

  .contact-popup {
    display: none;
    justify-content: center;
    align-items: center;
  }

  /* Add styles to the form container */
  .contact-container {
    position: relative;
    top: 150px;
    height: 410px;
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .contact-container > h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 27px;
    text-decoration: underline;
    text-underline-offset: 0.125em;
  }

  /* Full-width input fields */
  .contact-container input[type=text], .contact-container input[type=email], .contact-text {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    background: #f1f1f1;
  }

  .contact-container > .contact-text {
    height: 90px;
  }

  .contact-container > .btn-contact-submit {
    padding: 10px;
    width: 50%;
    margin-left: 63px;
    margin-top: -5px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 25px;
  }

  .btn-contact-submit:hover {
    background-color: #005469;
    color: white;
  }

  .close-contact {
    position: absolute;
    top: -15px;
    display: block;
    left: 0;
    float: left;
    color: #000;
    font-size: 44px;
    font-weight: bold;
  }
  
  .close-contact:hover,
  .close-contact:focus {
    color: #616161;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer {
    position: relative;
    background-color: #2e2e2e;
    bottom: 120px;
    height: 130px;
  }
    
    footer p {
    position: relative;
    font-size: 16px;
    top: 100px;
    left:0;
    text-align: center;
    color: white;
  }
}

/*iphone 5*/
@media (min-width: 320px) and (max-width: 320px) {

  header {
    height: 120px;
  }

  .toggle {
    margin-top: 30px;
  }

  .logo {
      font-size: 18px;
      margin-top: -5px;
      text-align: left;
      margin-left: 20px;
      padding: 0;
  }

  .slideshow {
    height: 420px;
  }

  .about-section {
    position: relative;
    height: 510px;
  }
  
  .article-content {
    position: relative;
    left: 5%;
    top: -500px;
    width: 90%;
    height: 150px;
    font-size: 12px;
  }
  
  .figure-item-bg {
    position: relative;
    bottom: 60px;
    opacity: 0.15;
    width: 100%;
    height: 490px;
  }
  
  .figure-item {
    position: relative;
    top: -525px;
    left: 19%;

  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 85%;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 7.5%;
    top: 100px;
    border-radius: 3px 0 0 3px;
  }

  #date, #time {
    position: relative;
    left: 14%;
    padding: 5px;  
    border-radius: 5px;
    background-color: white;
  }

  #name, #number, #text{
    margin: 0 auto;
    width: 72%;
  }

  .name, .number, .text  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 5px 0;  
  }

  .prices {
    margin-left: -5px;
    bottom: 60px;
    height: 510px;
  }

  .gallery {
    height: 225px;
  }

  .thumbnail {
    height: 50px;
  }

  textarea{
    height: 50px;
  }

  #date {
    width: 45%;
  }

  #time { 
      width: 26%;
  }
      
  .btn[type=button], .btn[type=submit] {
    padding: 8px;
    width: 30%;
    margin-top: 20px;
    font-size: 18px;
  }

  #valid {
  font-size: 13px;
  padding: 0 10px 15px 10px;
  text-align: center;
  }


  .contact-container > .btn-contact-submit {
    margin-left: 65px;
  }

  .contact-container {
    position: relative;
    top: 150px;
    max-width: 280px;
    height: 400px;
  }

  .contact-container input[type=text], .contact-container input[type=email], .contact-text {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  .contact-container > .btn-contact-submit {
    padding: 10px;
    width: 48%;
    margin-left: 60px;
    margin-top: -5px;
    font-size: 22px;
  }
}

@media (min-width: 540px) and (max-width: 540px) {
  /*surface duo*/
  .logo {
    font-size: 25px;
  }

  .nav-links {
    top: 14vh;
    width: 50%;
  }

  .skew-element-3 {
    bottom: 85px;
  }  

  .about-section {
    position: relative;
    height: 510px;
  }

  .article-content {
    position: relative;
    left: 10%;
    top: -500px;
    width: 80%;
    height: 150px;
    font-size: 12px;
  }

  .figure-item-bg {
    position: relative;
    bottom: 60px;
    opacity: 0.15;
    width: 100%;
    height: 490px;
  }

  .figure-item {
    position: relative;
    width: 50%;
    top: -525px;
    left: 24%;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 80%;
  }

  /* Position the "next button" to the right */
  .next {
    right: 12.5%;
    top: 100px;
    border-radius: 3px 0 0 3px;
  }

  .gallery, .thumbnail  {
    height: 375px;
  }

  .prices {
    margin-left: -5px;
    bottom: 60px;
    height: 460px;
    width: 100%; 
  }

  .prices ul li {
    margin-left: 40px;
  }


  .thumbnail {
    height: 80px;
  }

  .btn[type=button], .btn[type=submit] {
    padding: 8px;
    width: 26%;
    font-size: 20px;
  }

  .contact-container > .btn-contact-submit {
    margin-left: 90px;
  }

  .contact-container {
    position: relative;
    top: 150px;
    max-width: 360px;
    height: 400px;
  }

  .contact-container > .btn-contact-submit {
    margin-left: 75px;
  }
}
@media (min-width: 280px) and (max-width: 280px) {
/*galaxy fold*/

.logo {
    font-size: 18px;
    margin-left: 10px;
    text-align: left;
    margin-top: -5px;
    padding: 0;
}
  .slideshow {
    height: 350px;
  }

  .nav-links liz:nth-child(3){
    padding: 30px 0 30px 0;
  }

  .nav-links {
    width: 60%;
    height: 62.5vh;
    top: 14vh;
  }
    
  .skew-element-2 {
    bottom: 45px;
  } 

  .about-section {
    position: relative;
    height: 500px;
  }

  .article-content {
    position: relative;
    left: 10%;
    top: -500px;
    width: 80%;
    height: 150px;
    font-size: 12px;
  }

  .figure-item-bg {
    position: relative;
    bottom: 60px;
    opacity: 0.15;
    width: 100%;
    height: 490px;
  }

  .figure-item {
    position: relative;
    width: 65%;
    top: -525px;
    left: 17%;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    padding: 8px;
    right: 87.5%;
  }

  /* Position the "next button" to the right */
  .next {
    right: 5%;
    top: 100px;
    border-radius: 3px 0 0 3px;
  }

  .prices {
    bottom: 60px;
    height: 635px;
    width: 100%; 
  }

  .prices ul  {
    margin-right: 15px;
  }

  .gallery, .thumbnail  {
    height: 220px;
  }

  .thumbnail {
    height: 45px;
  }

  .skew-element-4 {
    height: 60px;
  } 

  .skew-element-2 {
    bottom: 60px;
  } 

  .btn[type=button], .btn[type=submit] {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 30%;
    font-size: 18px;
  }

  textarea{
    height: 70px;
  }

  #valid {
    margin-top: -5px;
    padding: 0 10px 15px 10px;
  }

  .contact-container > .btn-contact-submit {
    margin-left: 52.5px;
    padding: 10px;
    width: 50%;
  }

  .contact-container {
    position: relative;
    top: 150px;
    max-width: 260px;
    height: 370px;
  }

  .contact-container input[type=text], .contact-container input[type=email], .contact-text {
    width: 100%;
    height: 45px;
    margin: 8px 0 15px 0;
    font-size: 16px;
  }

  .contact-container > .btn-contact-submit {
    width: 50%;
    margin-left: 50px;
    font-size: 20px;
  }
}


/*
@import url("/src/css/tablet.css") only screen and (max-width:1024px);
@import url("/src/css/ipad.css") only screen and (min-width:768px) and (max-width:768px); 
@import url("/src/css/mobile.css") only screen and (max-width:766px);
@import url("/src/css/surfaceduo.css") only screen and (min-width: 540px) and (max-width: 540px);  
@import url("/src/css/galaxyfold.css") only screen and (min-width: 280px) and (max-width: 280px);
@import url("/src/css/iphone5.css") only screen and (min-width: 320px) and (max-width: 320px);
*/