/*surface duo*/
.nav-links {
    top: 16vh;
    width: 50%;
}
.skew-element-3 {
    bottom: 85px;
} 
.article-content {
    top: 60px;
    width: 100%;
}

.figure-item {
    top: -210px;
    height: 250px;
}

/* Next & previous buttons */
.prev, .next {
top: -80px;
}

/* Position the "next button" to the right */
.next {
    top: -80px;
    right: 5%;
}

.gallery, .thumbnail  {
    height: 270px;
}

.thumbnail {
    height: 70px;
}

.btn[type=button], .btn[type=submit] {
    padding: 8px;
    width: 26%;
    font-size: 20px;
}