/*Tablets*/
body {
    overflow-X: hidden;
}

.logo {
    font-size: 50px; 
}

/*position: absolute doesn't seem to work*/
.nav-links  {
    position: absolute;
    top: 0;
    right: 0;
    height: 75vh;
    top: 10vh;
    width: 45%;
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in;
    z-index: 3;
    display: none;
}

button a{      
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px 15px;
    font-size: 32px;
}

.wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 40px;
}

.nav-links li {
    font-size: 2rem;
    padding: 65px 80px;
}

.nav-links li a {
    font-size: 32px;
}

/* Top and Bottom borders come in */
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 3px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

.toggle {
    display: block;
}

.toggle span {
    height: 7px;
    width: 80%;
}

button {
    margin: 0 0 7.5% 0;
    padding: 22px 28px;
    font-size: 1.5rem;
    margin-bottom: 45px;
}

.nav-active {
    transform: translateX(0%); 
}

.slideshow {
    height: 700px;
}

.skew-element {
    width: 100%; 
    height: 120px; 
    position: relative; 
    bottom: 155px;
    z-index: 1;
    background: #24252A;
}

.skew-element-2 {
    position: relative;
    bottom: 160px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
} 

.skew-element-3 {
    position: relative;
    bottom: 160px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
} 
/*
.sub-title{
    position: relative;
    top: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 3.5rem;
    z-index: 2;
    text-align: center;
}
*/
.about-content {
    position: absolute;
    top: 1250px;
    right: 10%;
    left: 10%;
}
.article-content {
    left: 0%;
    position: relative;
    top: 780px;
    width: 100%;
    right: 0;
    height: 200px;
    padding: 7.5px 15px 15px 15px;
    font-size: 20px;
}

.figure-item-bg {
    bottom: 160px;
    opacity: 0.15;
    width: 100%;
    height: 875px;
    z-index: -2;
}

.figure-item {
    left: 17.5%;;
    top: 745px;
    border-radius: 5px;
    height: 520px;
    width: 65%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 1000px;
    right: 100%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #24252A;
}

/* Position the "next button" to the right */
.next {
    right: -5%;
    top: 1000px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prices {
    position: relative;
    bottom: 160px;
    background-color: #f5f5f5;
}

.prices h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 46px;
}

.prices ul li {
    color: black;
    padding: 0 10px 0 10px;
    margin: 5px 0 10px 0;
    line-height: 1.6;
    margin-left: 20px;
    font-size: 30px;
}

.prices ul {
    column-count: 3;
    column-rule: dotted 1px #333;
    list-style-type: none;
    margin-top: 10px;
    padding: 0 0 30px 25px;
}

.gallery, .thumbnail  {
    width: 100%; 
    height: 550px;
}

.thumbnail {
    height: 130px;
}

.tour-section {
    position: relative;
    bottom: 175px;
}

.slides {
    display: none;
    margin-bottom: -5px;
}

.cursor {
    cursor: pointer;
} 

.prev-image,
.next-image {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    margin-top: -35px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next-image {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-image:hover,
.next-image:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 12px 16px;
    color: white;
}

.caption-container p{
    font-size: 60px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 20%; 
}

.fade-thumbnail {
    opacity: 0.6;
}

.active, .fade-thumbnail:hover { 
    opacity: 1;
}

.skew-element-4 {
    position: relative;
    bottom: 180px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
} 

.skew-element-5 {
    position: relative;
    bottom: 180px;
    height: 120px; 
    background: #24252A;
    /*transform: skew(0, -5deg);*/
    z-index: 1;
} 

    /*form validation section*/
.form {
    position: relative;
    bottom: 180px;
}

h1 {   
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text], [type=number], [type=date], [type=time] select {
    /*width: 50%;*/
    margin: 30px, 0px, 30px, 0;
    box-sizing: border-box;
    }

.flex-center {
    display: flex;
    justify-content: center;
}

.name, .number, .date, .time, .text {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.name, .number, .text, .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 5px 0;
    padding-bottom: 8px;
}


#name, #number, #date, #time, #text {
    border: 1.25px solid black;
}
    
#name, #number, #text{
    margin: 0 auto;
    width: 65%;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 8px;
}

#date, #time {
    position: relative;
    left: 17.25%;
    padding: 15px;  
    font-size: 30px;
    border-radius: 8px;
}

#date {
    width: 38%;
}

#time { 
    width: 27%;
}
    
.btn[type=button], .btn[type=submit] {
    padding: 15px;
    width: 30%;
    margin-right: 10px;
    margin-left:  10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
}

#validation {
text-align: center;
}